h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;

  @include media-breakpoint-down(sm) { 
    font-size: 25px;
    line-height: 40px;
  }
}

.green--not {
  color: green !important;
}

.content {
  font-weight: 400 !important;
  font-size: 1.375rem;
  line-height: 32px;
  
  @include media-breakpoint-down(sm) { 
    font-size: 1rem;
  }
}

h2 {
  font-size: 36px;
  line-height: 72px;
  font-weight: 600;
  font-family: Popins, sans-serif ;

  @include media-breakpoint-down(sm) { 
    font-size: 25px;
    line-height: 40px;
  }
}

.p-small{
  font-size: 12px !important;
  line-height: 16px;
}

.clients-img {
  height: 35px;
  width: 60px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.btn-black {
  background: #24252d;
  border: 1px solid #24252d;
  border-radius: 6px;
  color: #fff !important;
  color: #24252d;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 70px;
  letter-spacing: -.015em;
  line-height: 1;
  padding-left: 30px;
  padding-right: 30px;
  transition: background-color .1s,border ease-in-out,transform .1s,box-shadow 5ms,border-color .25s;
  white-space: nowrap;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: 14px !important;
  height: 42px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  text-decoration: none;
}
