<div class="row m-0">
  <div class="col-12 col-xl-7">
    <div class="row justify-content-center " >
      <div class="col-0 col-xl-2"></div>
        <div class="col-12 col-xl-8 ">
          <h1 class="main_title mt-5">Création <span class="green--not"> & </span> <br> Développement web <br> par <span class="green--not">Lemurian Agency</span></h1>
          <p class="content">Je  suis Andy Ramaroson, un développeur web FullStack basée sur Bordeaux
            (N. Aquitaine, 33) et je réalise tous types de <span class="green"> logiciels </span>  et d'applications sur
            mesure en me basant sur des technologies web modernes.
          </p>
          <p class="content">
            Je suis  <span class="green"> spécialisés </span> dans le langage ruby,
            et plus précisément avec le framework  <span class="green"> Ruby on Rails </span>.
          </p>     

          <%= link_to "contact", "/contact", class: "btn btn-flat" %>      
        </div>
      </div>
    </div>

    <div class="col-0 d-none d-xl-block col-xl-5">
      <div class="img img-header div-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/v1686826779/test.jpg);">
    </div>
    
  </div>
</div>