<div class="panels">
  <div class="panel" style="display: block;">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="row p-0 p-xl-5">
          <div class="col-12">
            <h2 class="fw-bold h4">Développement</h2>
            <p class="content mt-1">Chez Lemurian, j'ai une passion pour les passions !</p>

            <div class="row text-center">
              <div class="col-6 mt-3 p-1 p-lg-3">
                <span>
                  <i class="fa-solid fa-keyboard h4"></i>
                </span>
                <p class="p-small">On s'attache à comprendre le métier de notre client, pour définir le besoin exact.</p>
              </div>

              <div class="col-6 mt-3 p-1 p-lg-3">
                <span>
                  <i class="fa-solid fa-code h4"></i>
                </span>
                <p class="p-small">Puis on convient d'une solution qui s'accorde avec son avis, son budget.</p>
              </div>

              <div class="col-6 mt-3 p-1 p-lg-3">
                <span>
                  <i class="fa-solid fa-laptop-code h4"></i>
                </span>
                <p class="p-small">On revient constamment vers l'utilisateur final pour qu'il valide nos développements.</p>
              </div>

              <div class="col-6 mt-3 p-1 p-lg-3">
                <span>
                  <i class="fa-solid fa-code-branch h4"></i>
                </span>
                <p class="p-small">On livre une solution et on reste en contact constant avec notre client pour assurer sa satisfaction.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 col-lg-5 mt-5">
        <img class="img-diapo img-radius" loading="lazy" src="https://www.kernl.fr/images/5.webp" alt="Developpement">
      </div>
    </div>
  </div>
</div>
