 <div class="panels">
            <div class="panel" style="display: block;">
              <div class="row">
                <div class="col-12 col-lg-7">
                  <div class="row p-0 p-xl-5">
                    <div class="col-12">
                      <h3 class="fw-bold h4">Dévelopement</h3>
                      <p class="content mt-1">Chez Lemurian, j'ai une passion pour les passions !</p>

                      <div class="row">
                        <div class="col-6 mt-3">
                          <span>
                            <i class="fa-solid fa-keyboard h4"></i>
                          </span>
                          <p>On s'attache à comprendre le métier de notre client, pour définir le besoin exact.</p>
                        </div>
                               <div class="col-6 mt-3">
                          <span>
                            <i class="fa-solid fa-keyboard h4"></i>
                          </span>
                          <p>On s'attache à comprendre le métier de notre client, pour définir le besoin exact.</p>
                        </div>
                               <div class="col-6 mt-3">
                          <span>
                            <i class="fa-solid fa-keyboard h4"></i>
                          </span>
                          <p>On s'attache à comprendre le métier de notre client, pour définir le besoin exact.</p>
                        </div>
                               <div class="col-6 mt-3">
                          <span>
                            <i class="fa-solid fa-keyboard h4"></i>
                          </span>
                          <p>On s'attache à comprendre le métier de notre client, pour définir le besoin exact.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>