<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Dévelopement</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Hébergement</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Maintenance</a>
  </li>
</ul>