    <div class="row align-center justify-content-center">
      <div class="p-1 col-3 col-lg-2">
        <div class="client-wrapper grayscale">
        <div class="wrap-img">
          <img class="img-responsive clients-img" src="https://www.kernl.fr/images/references/efil.webp" alt="elfi">
        </div>    
      </div>
    </div>

    <div class="p-1 col-3 col-lg-2">
      <div class="client-wrapper grayscale">
        <div class="wrap-img">
          <img class="img-responsive clients-img" src="https://www.kernl.fr/images/references/efil.webp" alt="elfi">
        </div>      
      </div>
    </div>

    <div class="p-1 col-3 col-lg-2">
      <div class="client-wrapper grayscale">
        <div class="wrap-img">
          <img class="img-responsive clients-img" src="https://www.kernl.fr/images/references/efil.webp" alt="elfi">
        </div>      
      </div>
    </div>

    <div class="p-1 col-3 col-lg-2">
      <div class="client-wrapper grayscale">
        <div class="wrap-img">
          <img class="img-responsive clients-img" src="https://www.kernl.fr/images/references/efil.webp" alt="elfi">
        </div>      
      </div>
    </div>  
  </div>  