<%= content_for :meta_title, "Yourdomain - Your Meta" %>

<section >
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/v1686826779/test.jpg);">
    <div class="container">
      <h1 class="banner_title">Création <span class="green--not"> & </span> <br> Développement web <br>  par <span class="green--not">Lemurian Agency</span></h1>
      <p class="banner_text">Je  suis Andy Ramaroson, un développeur web FullStack basée sur Bordeaux
        (N. Aquitaine, 33) et je réalise tous types de <span class="green"> logiciels </span>  et d'applications sur
        mesure en me basant sur des technologies web modernes. Je suis  <span class="green"> spécialisés </span> dans le langage ruby,
        et plus précisément le framework  <span class="green"> Ruby on Rails </span>.
      </p> 

      <%= link_to "contact", "/contact", class: "btn btn-flat" %>
      
    </div>
  </div>     
</section>
