<%= content_for :meta_title, "Yourdomain - Your Meta" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/v1686826779/test.jpg);">
  <div class="container">
    <h1 class="banner-title">Création & <br> Développement <br> web par Lemurian Agency</h1>
    <p class="banner-text">Je  suis Andy Ramaroson, un développeur web FullStack basée sur Bordeaux
       (N. Aquitaine, 33) et je réalise tous types de logiciels et d'applications sur mesure en me 
       basant sur des technologies web modernes. Je suis spécialisés sur le langage ruby, et plus 
       précisément le framework Ruby on rails.
    </p>

    <%= link_to "Me contacter", "/legal", class: "btn btn-flat" %>
    
  </div>
</div>
