.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
  font-weight: bold;
  margin-top: 50px!important;

  @include media-breakpoint-down(xl) { 
  }

  @include media-breakpoint-down(lg) { 
    margin-left: 420px;
  }

  @include media-breakpoint-down(sm) { 
    margin-left: 200px;
    margin-top: 10px!important;
  }
}

.btn-flat:hover {
  background: green;
  color: white;
  font-weight: bold;
}