.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
  font-weight: bold;
}

.btn-flat:hover {
  background: green;
  color: white;
  font-weight: bold;
}